[data-theme='dark'] {
  --text-color: #fff;
  --bg-container: #181818;
  --color-gray-text: #4e4e4e;
  --bg-page-container: #181818;
  --bg-sidebar: #181818;
  --bg-gray: #313131;
  --bg-burger-line: #d3d3d3;
  --border-input-search: #4e4e4e;
  --bg-bar: rgba(28, 28, 28, 0.8);
  --color-player-btn: #d9d9d9;
  --bg-progress-line: #2e2e2e;
  --bg-progress-thumb: rgba(255, 255, 255, 0.1);
}

[data-theme='light'] {
  --text-color: #000;
  --bg-container: #ffffff;
  --color-gray-text: #b1b1b1;
  --bg-page-container: #fff;
  --bg-sidebar: #f6f5f3;
  --bg-gray: #f6f4f4;
  --bg-burger-line: #000;
  --border-input-search: #d9d9d9;
  --bg-bar: rgba(255, 255, 255, 1);
  --color-player-btn: #b1b1b1;
  --bg-progress-line: #d9d9d9;
  --bg-progress-thumb: rgba(0, 0, 0, 0.07);
}
