.nav__menu {
  display: block;
  visibility: visible;
}
.menu__list {
  padding: 18px 0 10px 0;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menu__link {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.dark.menu__link {
  --text-color: #ffffff;
}
.light.menu__link {
  --text-color: #000000;
}
