.content__playlist {
  display: flex;

  flex-direction: column;
  overflow-y: auto;
}
.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}
.playlist__track {
  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;
}
.track__title {
  display: flex;

  flex-direction: row;

  align-items: center;
  width: 447px;
}
.track__title_image {
  width: 51px;
  height: 51px;
  padding: 16px;

  display: flex;

  align-items: center;

  justify-content: center;
  margin-right: 17px;
  background:var(--bg-svg)
}


.track__title_svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: var(--color-gray-text);
}
.track__title_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

.track__title_span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}
.light.track__title_link {
  --text-color: #000;
}
.dark.track__title_link {
  --text-color: #fff;
}
.track__author {
  width: 321px;

  display: flex;

  justify-content: flex-start;
}

.track__author_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  text-align: left;
}

.track__album {
  width: 245px;
}
.track__time_svg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: var(--color-gray-text);
}

.track__time_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--color-gray-text);
}

.track__album_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-text);
}
