[data-theme='light'] {
  --nav-background: #f6f5f3;
  --page-background: white;
  --a-color: black;
  --bar-background: white;
  --play-background: #f6f4f4;
  --dropdown-background: #f6f5f3;
  --dropdown-border: #f6f5f3;
  --scroll-background: white;
  --burger-line: #383838;
  --border-bottom: #ff299f;
  --filter-button-border: 1px solid black;
  --volume-background: #797979;
  --volume-progress: #ad61ff;
  --volume-slider: #fff;
}

[data-theme='dark'] {
  --nav-background: #383838;
  --page-background: #1c1c1c;
  --a-color: #ffffff;
  --bar-background: #2e2e2e;
  --play-background: #313131;
  --dropdown-background: #313131;
  --dropdown-border: #313131;
  --scroll-background: #4b4949;
  --burger-line: #d3d3d3;
  --filter-button-border: 1px solid #ffffff;
  --volume-background: #797979;
  --volume-progress: #ffffff;
  --volume-slider: #1a1a1a;
}
